[Administrators]
users = "{{ username }}"
permissions = "*"
groups = "Administrators"

[ad_admins]
groups = "Administrators"
permissions = "*"
users = "e10110080@vistaprint,e10120384@vistaprint,dleahy@vistaprint,jdepina@vistaprint,e10110092@vistaprint,cramsay@vistaprint,rtrimech@vistaprint"

[Viewers]
users = "*"
permissions = "module/monitoring,monitoring/*"
groups = "Administrators"
